In [1]:
import numpy as np
import pandas as pd

Importing FHFA House Price Index Data

In [2]:
MD_data = pd.read_csv('/Users/nyahamlet/Documents/Business/Certs/VT Data Analytics Bootcamp/Capstone Project/Data/FHFA Home Price Index/Home Price Index_All Transactions_county.v2.csv')

In [3]:
MD_data.head()

,State,County,FIPS code,Year,Annual Change (%),HPI,HPI with 1990 base,HPI with 2000 base
0,AL,Autauga,1001,1986,NaN,100.00,94.99,70.29
1,AL,Autauga,1001,1987,-2.19,97.81,92.91,68.75
2,AL,Autauga,1001,1988,3.68,101.42,96.34,71.29
3,AL,Autauga,1001,1989,4.32,105.80,100.50,74.37
4,AL,Autauga,1001,1990,-0.50,105.27,100.00,74.00

Filling null values w/ Median

In [4]:
MD_data['HPI with 1990 base'] = MD_data['HPI with 1990 base'].fillna(MD_data['HPI with 1990 base'].median())

In [5]:
print(MD_data)

      State   County  FIPS code  Year  Annual Change (%)     HPI  \
0        AL  Autauga       1001  1986                NaN  100.00
1        AL  Autauga       1001  1987              -2.19   97.81
2        AL  Autauga       1001  1988               3.68  101.42
3        AL  Autauga       1001  1989               4.32  105.80
4        AL  Autauga       1001  1990              -0.50  105.27
...     ...      ...        ...   ...                ...     ...
94530    WY   Weston      56045  2017               1.70  199.85
94531    WY   Weston      56045  2018              -1.29  197.27
94532    WY   Weston      56045  2019               8.83  214.69
94533    WY   Weston      56045  2020               4.15  223.61
94534    WY   Weston      56045  2021               7.06  239.39

       HPI with 1990 base  HPI with 2000 base
0                   94.99               70.29
1                   92.91               68.75
2                   96.34               71.29
3                  100.50               74.37
4                  100.00               74.00
...                   ...                 ...
94530              146.85              189.16
94531              146.85              186.71
94532              146.85              203.20
94533              146.85              211.64
94534              146.85              226.58

[94535 rows x 8 columns]

In [6]:
MD_data['HPI'] = MD_data['HPI'].fillna(MD_data['HPI'].median())

In [7]:
MD_data['Annual Change (%)'] = MD_data['Annual Change (%)'].fillna(MD_data['Annual Change (%)'].median())

In [8]:
MD_data['HPI with 2000 base'] = MD_data['HPI with 2000 base'].fillna(MD_data['HPI with 2000 base'].median())

In [9]:
print(MD_data)

      State   County  FIPS code  Year  Annual Change (%)     HPI  \
0        AL  Autauga       1001  1986               3.34  100.00
1        AL  Autauga       1001  1987              -2.19   97.81
2        AL  Autauga       1001  1988               3.68  101.42
3        AL  Autauga       1001  1989               4.32  105.80
4        AL  Autauga       1001  1990              -0.50  105.27
...     ...      ...        ...   ...                ...     ...
94530    WY   Weston      56045  2017               1.70  199.85
94531    WY   Weston      56045  2018              -1.29  197.27
94532    WY   Weston      56045  2019               8.83  214.69
94533    WY   Weston      56045  2020               4.15  223.61
94534    WY   Weston      56045  2021               7.06  239.39

       HPI with 1990 base  HPI with 2000 base
0                   94.99               70.29
1                   92.91               68.75
2                   96.34               71.29
3                  100.50               74.37
4                  100.00               74.00
...                   ...                 ...
94530              146.85              189.16
94531              146.85              186.71
94532              146.85              203.20
94533              146.85              211.64
94534              146.85              226.58

[94535 rows x 8 columns]

Pulling Stats on FHFA House Price Index Data

In [10]:
print(MD_data.describe())

          FIPS code          Year  Annual Change (%)           HPI  \
count  94535.000000  94535.000000       94535.000000  94535.000000
mean   30144.983202   2003.062146           3.617431    227.676673
std    15169.545337     11.850880           5.827259    152.233612
min     1001.000000   1975.000000         -45.250000     45.010000
25%    18105.000000   1995.000000           0.700000    135.630000
50%    29093.000000   2004.000000           3.340000    182.345000
75%    42123.000000   2013.000000           6.140000    261.505000
max    56045.000000   2021.000000          75.840000   2116.550000

       HPI with 1990 base  HPI with 2000 base
count        94535.000000        94535.000000
mean           150.556683          110.616812
std             53.732078           39.932217
min             18.110000           10.890000
25%            121.800000           83.540000
50%            146.850000          109.450000
75%            167.030000          133.530000
max            762.500000          512.710000

Exporting Updated Version of FHFA House Price Index Data

In [11]:
MD_data.to_excel (r'/Users/nyahamlet/Documents/Business/Certs/VT Data Analytics Bootcamp/Capstone Project/Data/FHFA Home Price Index/Home Price Index_All Transactions_county.v4.xlsx', index = False, header=True)

Importing MD County Demographic Data

In [12]:
MD_Demo = pd.read_csv('/Users/nyahamlet/Documents/Business/Certs/VT Data Analytics Bootcamp/Capstone Project/Data/MD County Demographics/County_Demographics_2016-2020.csv')

In [13]:
MD_Demo.head()

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0001PE,DP05_0001PM,DP05_0002E,DP05_0002M,DP05_0002PE,DP05_0002PM,...,DP05_0087PE,DP05_0087PM,DP05_0088E,DP05_0088M,DP05_0088PE,DP05_0088PM,DP05_0089E,DP05_0089M,DP05_0089PE,DP05_0089PM
0,0500000US24001,"Allegany County, Maryland",71002,*****,71002,(X),37329,195,52.6,0.3,...,58067,(X),30438,191,52.4,0.3,27629,170,47.6,0.3
1,0500000US24003,"Anne Arundel County, Maryland",575421,*****,575421,(X),284682,139,49.5,0.1,...,427898,(X),210712,825,49.2,0.1,217186,860,50.8,0.1
2,0500000US24005,"Baltimore County, Maryland",828193,*****,828193,(X),392167,89,47.4,0.1,...,609934,(X),281430,1208,46.1,0.1,328504,1253,53.9,0.1
3,0500000US24009,"Calvert County, Maryland",92094,*****,92094,(X),45651,172,49.6,0.2,...,69955,(X),34293,166,49.0,0.2,35662,206,51.0,0.2
4,0500000US24011,"Caroline County, Maryland",33260,*****,33260,(X),16312,109,49.0,0.3,...,24228,(X),11868,97,49.0,0.4,12360,143,51.0,0.4

Renaming Chosen Columns

In [14]:
MD_Demo = MD_Demo.rename(columns={'DP05_0037E': 'White', 'DP05_0038E': 'Black', 'DP05_0039E':'American_Indian_Alaska_Native', 'DP05_0040E': 'American_Indian_Alaska_Native_Cherokee', 'DP05_0041E': 'American_Indian_Alaska_Native_Chippewa', 'DP05_0042E': 'American_Indian_Alaska_Native_Navajo', 'DP05_0043E': 'American_Indian_Alaska_Native_Sioux', 'DP05_0044E': 'Asian', 'DP05_0045E': 'Asian_Indian', 'DP05_0046E': 'Asian_Chinese', 'DP05_0047E': 'Asian_Filipino', 'DP05_0048E': 'Asian_Japanese', 'DP05_0049E': 'Asian_Korean', 'DP05_0050E': 'Asian_Vietnamese', 'DP05_0051E': 'Other_Asian', 'DP05_0052E': 'Native_Hawaiian_Other_Pac_Islander', 'DP05_0053E': 'Native_Hawaiian_Other_Pac_Islander_Native_Hawaiian', 'DP05_0054E': 'Native_Hawaiian_Other_Pac_Islander_Chamorro', 'DP05_0055E': 'Native_Hawaiian_Other_Pac_Islander_Samoan', 'DP05_0056E': 'Other_Pacific_Islander', 'DP05_0057E': 'Some_other_race', 'DP05_0058E': 'Two_or_more_races'})

In [15]:
MD_Demo.head()

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0001PE,DP05_0001PM,DP05_0002E,DP05_0002M,DP05_0002PE,DP05_0002PM,...,DP05_0087PE,DP05_0087PM,DP05_0088E,DP05_0088M,DP05_0088PE,DP05_0088PM,DP05_0089E,DP05_0089M,DP05_0089PE,DP05_0089PM
0,0500000US24001,"Allegany County, Maryland",71002,*****,71002,(X),37329,195,52.6,0.3,...,58067,(X),30438,191,52.4,0.3,27629,170,47.6,0.3
1,0500000US24003,"Anne Arundel County, Maryland",575421,*****,575421,(X),284682,139,49.5,0.1,...,427898,(X),210712,825,49.2,0.1,217186,860,50.8,0.1
2,0500000US24005,"Baltimore County, Maryland",828193,*****,828193,(X),392167,89,47.4,0.1,...,609934,(X),281430,1208,46.1,0.1,328504,1253,53.9,0.1
3,0500000US24009,"Calvert County, Maryland",92094,*****,92094,(X),45651,172,49.6,0.2,...,69955,(X),34293,166,49.0,0.2,35662,206,51.0,0.2
4,0500000US24011,"Caroline County, Maryland",33260,*****,33260,(X),16312,109,49.0,0.3,...,24228,(X),11868,97,49.0,0.4,12360,143,51.0,0.4

Renaming County/State Column for Consistency Purposes

In [16]:
MD_Demo = MD_Demo.rename(columns={'NAME':'County'})

In [17]:
MD_Demo.head()

,GEO_ID,County,DP05_0001E,DP05_0001M,DP05_0001PE,DP05_0001PM,DP05_0002E,DP05_0002M,DP05_0002PE,DP05_0002PM,...,DP05_0087PE,DP05_0087PM,DP05_0088E,DP05_0088M,DP05_0088PE,DP05_0088PM,DP05_0089E,DP05_0089M,DP05_0089PE,DP05_0089PM
0,0500000US24001,"Allegany County, Maryland",71002,*****,71002,(X),37329,195,52.6,0.3,...,58067,(X),30438,191,52.4,0.3,27629,170,47.6,0.3
1,0500000US24003,"Anne Arundel County, Maryland",575421,*****,575421,(X),284682,139,49.5,0.1,...,427898,(X),210712,825,49.2,0.1,217186,860,50.8,0.1
2,0500000US24005,"Baltimore County, Maryland",828193,*****,828193,(X),392167,89,47.4,0.1,...,609934,(X),281430,1208,46.1,0.1,328504,1253,53.9,0.1
3,0500000US24009,"Calvert County, Maryland",92094,*****,92094,(X),45651,172,49.6,0.2,...,69955,(X),34293,166,49.0,0.2,35662,206,51.0,0.2
4,0500000US24011,"Caroline County, Maryland",33260,*****,33260,(X),16312,109,49.0,0.3,...,24228,(X),11868,97,49.0,0.4,12360,143,51.0,0.4

Creating a DataFrame That Only Contains the Renamed Columns

In [18]:
MD_Demo2 = MD_Demo[["County", "White", "Black", "American_Indian_Alaska_Native", "American_Indian_Alaska_Native_Cherokee", "American_Indian_Alaska_Native_Chippewa", "American_Indian_Alaska_Native_Navajo", "American_Indian_Alaska_Native_Sioux", "Asian", "Asian_Indian", "Asian_Chinese", "Asian_Filipino", "Asian_Japanese", "Asian_Korean", "Asian_Vietnamese", "Other_Asian", "Native_Hawaiian_Other_Pac_Islander", "Native_Hawaiian_Other_Pac_Islander_Native_Hawaiian", "Native_Hawaiian_Other_Pac_Islander_Chamorro", "Native_Hawaiian_Other_Pac_Islander_Samoan", "Other_Pacific_Islander", "Some_other_race", "Two_or_more_races"]]

In [19]:
MD_Demo2.head()

,County,White,Black,American_Indian_Alaska_Native,American_Indian_Alaska_Native_Cherokee,American_Indian_Alaska_Native_Chippewa,American_Indian_Alaska_Native_Navajo,American_Indian_Alaska_Native_Sioux,Asian,Asian_Indian,...,Asian_Korean,Asian_Vietnamese,Other_Asian,Native_Hawaiian_Other_Pac_Islander,Native_Hawaiian_Other_Pac_Islander_Native_Hawaiian,Native_Hawaiian_Other_Pac_Islander_Chamorro,Native_Hawaiian_Other_Pac_Islander_Samoan,Other_Pacific_Islander,Some_other_race,Two_or_more_races
0,"Allegany County, Maryland",62420,5954,117,18,2,0,0,674,108,...,24,119,116,6,2,3,1,0,163,1668
1,"Anne Arundel County, Maryland",408297,96112,1218,135,15,64,114,22098,4528,...,3118,1510,2834,244,34,103,35,72,16945,30507
2,"Baltimore County, Maryland",487523,243098,2111,436,0,0,20,50294,13143,...,4855,1745,14654,754,171,178,167,238,14858,29555
3,"Calvert County, Maryland",73985,11456,155,0,0,0,0,1747,384,...,112,96,285,46,0,8,38,0,524,4181
4,"Caroline County, Maryland",26076,4589,94,25,0,0,0,170,2,...,73,0,29,0,0,0,0,0,1050,1281

Separating County from State

In [20]:
MD_Demo2[['County','State']]=MD_Demo2.County.str.split(',',expand=True)
print(MD_Demo2)

                    County   White   Black  American_Indian_Alaska_Native  \
0          Allegany County   62420    5954                            117
1      Anne Arundel County  408297   96112                           1218
2         Baltimore County  487523  243098                           2111
3           Calvert County   73985   11456                            155
4          Caroline County   26076    4589                             94
5           Carroll County  152180    6088                            437
6             Cecil County   89478    7032                             81
7           Charles County   67215   76590                           1028
8        Dorchester County   20777    8216                             12
9         Frederick County  200484   25253                            568
10          Garrett County   28162     348                             50
11          Harford County  197023   35208                            380
12           Howard County  176798   61967                            849
13             Kent County   15484    2730                             15
14       Montgomery County  536767  193450                           3083
15  Prince George's County  146540  565972                           2969
16     Queen Anne's County   43995    2961                             52
17       St. Mary's County   86781   16348                             67
18         Somerset County   13510   10696                             85
19           Talbot County   30104    4028                            132
20       Washington County  122286   16404                            225
21         Wicomico County   67339   27011                            192
22        Worcester County   42828    6615                             85
23          Baltimore city  178996  375002                           1855

    American_Indian_Alaska_Native_Cherokee  \
0                                       18
1                                      135
2                                      436
3                                        0
4                                       25
5                                       87
6                                        0
7                                       50
8                                        2
9                                       51
10                                       5
11                                       7
12                                     115
13                                       0
14                                     274
15                                     361
16                                      13
17                                       6
18                                       0
19                                      12
20                                      29
21                                      14
22                                      45
23                                     463

    American_Indian_Alaska_Native_Chippewa  \
0                                        2
1                                       15
2                                        0
3                                        0
4                                        0
5                                        0
6                                        0
7                                        8
8                                        0
9                                        4
10                                       0
11                                      43
12                                       0
13                                       0
14                                      18
15                                      21
16                                       0
17                                       0
18                                       5
19                                       0
20                                       0
21                                       0
22                                       0
23                                       0

    American_Indian_Alaska_Native_Navajo  American_Indian_Alaska_Native_Sioux  \
0                                      0                                    0
1                                     64                                  114
2                                      0                                   20
3                                      0                                    0
4                                      0                                    0
5                                     50                                    1
6                                      0                                    0
7                                      0                                    0
8                                      4                                    0
9                                     19                                    4
10                                     0                                    0
11                                     0                                    0
12                                    79                                   18
13                                     0                                    0
14                                     0                                   25
15                                    14                                    0
16                                     0                                    0
17                                     2                                   15
18                                     0                                    0
19                                     0                                    0
20                                     0                                   10
21                                     0                                    0
22                                     0                                    0
23                                     0                                    0

     Asian  Asian_Indian  ...  Asian_Vietnamese  Other_Asian  \
0      674           108  ...               119          116
1    22098          4528  ...              1510         2834
2    50294         13143  ...              1745        14654
3     1747           384  ...                96          285
4      170             2  ...                 0           29
5     3437          1040  ...               197          599
6     1541           222  ...               189          116
7     5039           651  ...               455          837
8      377            87  ...                42          113
9    11364          2946  ...               962         2481
10     128            32  ...                 0           25
11    6877          1575  ...               408         1396
12   59458         19938  ...              1718         7431
13     222            52  ...                20           60
14  156834         41207  ...             13825        24487
15   38755          7941  ...              2609         8319
16     549             0  ...                 0            0
17    2936           446  ...               144          263
18     213            11  ...               134            0
19     485           111  ...                14          119
20    2551           662  ...                65          687
21    3117           726  ...               565          613
22     609           197  ...               159           33
23   14954          3672  ...              1283         2449

    Native_Hawaiian_Other_Pac_Islander  \
0                                    6
1                                  244
2                                  754
3                                   46
4                                    0
5                                   73
6                                    7
7                                   39
8                                    0
9                                  160
10                                  12
11                                  53
12                                 112
13                                   6
14                                 419
15                                 337
16                                  13
17                                  21
18                                   0
19                                   0
20                                 149
21                                  20
22                                   0
23                                 179

    Native_Hawaiian_Other_Pac_Islander_Native_Hawaiian  \
0                                                   2
1                                                  34
2                                                 171
3                                                   0
4                                                   0
5                                                   5
6                                                   0
7                                                  15
8                                                   0
9                                                  43
10                                                  0
11                                                 26
12                                                 49
13                                                  6
14                                                 53
15                                                135
16                                                 13
17                                                  0
18                                                  0
19                                                  0
20                                                 38
21                                                  0
22                                                  0
23                                                 77

    Native_Hawaiian_Other_Pac_Islander_Chamorro  \
0                                             3
1                                           103
2                                           178
3                                             8
4                                             0
5                                            41
6                                             7
7                                             8
8                                             0
9                                             7
10                                           12
11                                            6
12                                           33
13                                            0
14                                           84
15                                          107
16                                            0
17                                            0
18                                            0
19                                            0
20                                           99
21                                           14
22                                            0
23                                            4

    Native_Hawaiian_Other_Pac_Islander_Samoan  Other_Pacific_Islander  \
0                                           1                       0
1                                          35                      72
2                                         167                     238
3                                          38                       0
4                                           0                       0
5                                           0                      27
6                                           0                       0
7                                           0                      16
8                                           0                       0
9                                          74                      36
10                                          0                       0
11                                         21                       0
12                                          8                      22
13                                          0                       0
14                                         42                     240
15                                         66                      29
16                                          0                       0
17                                          0                      21
18                                          0                       0
19                                          0                       0
20                                         12                       0
21                                          0                       6
22                                          0                       0
23                                         19                      79

    Some_other_race  Two_or_more_races      State
0               163               1668   Maryland
1             16945              30507   Maryland
2             14858              29555   Maryland
3               524               4181   Maryland
4              1050               1281   Maryland
5              1509               4509   Maryland
6              1154               3596   Maryland
7              1915               9622   Maryland
8               628               1984   Maryland
9              4237              13889   Maryland
10               27                428   Maryland
11             4165              10030   Maryland
12             5559              17664   Maryland
13              405                594   Maryland
14            94233              62875   Maryland
15           119738              36240   Maryland
16              727               1866   Maryland
17             1146               5883   Maryland
18              220                975   Maryland
19              346               1992   Maryland
20             1609               7351   Maryland
21             1895               3648   Maryland
22              278               1552   Maryland
23            12039              19249   Maryland

[24 rows x 24 columns]

/var/folders/2f/1pgw653j5n1byhmkcy8462zm0000gn/T/ipykernel_8175/3486813352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MD_Demo2[['County','State']]=MD_Demo2.County.str.split(',',expand=True)
/var/folders/2f/1pgw653j5n1byhmkcy8462zm0000gn/T/ipykernel_8175/3486813352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MD_Demo2[['County','State']]=MD_Demo2.County.str.split(',',expand=True)

In [21]:
MD_Demo2.head()

,County,White,Black,American_Indian_Alaska_Native,American_Indian_Alaska_Native_Cherokee,American_Indian_Alaska_Native_Chippewa,American_Indian_Alaska_Native_Navajo,American_Indian_Alaska_Native_Sioux,Asian,Asian_Indian,...,Asian_Vietnamese,Other_Asian,Native_Hawaiian_Other_Pac_Islander,Native_Hawaiian_Other_Pac_Islander_Native_Hawaiian,Native_Hawaiian_Other_Pac_Islander_Chamorro,Native_Hawaiian_Other_Pac_Islander_Samoan,Other_Pacific_Islander,Some_other_race,Two_or_more_races,State
0,Allegany County,62420,5954,117,18,2,0,0,674,108,...,119,116,6,2,3,1,0,163,1668,Maryland
1,Anne Arundel County,408297,96112,1218,135,15,64,114,22098,4528,...,1510,2834,244,34,103,35,72,16945,30507,Maryland
2,Baltimore County,487523,243098,2111,436,0,0,20,50294,13143,...,1745,14654,754,171,178,167,238,14858,29555,Maryland
3,Calvert County,73985,11456,155,0,0,0,0,1747,384,...,96,285,46,0,8,38,0,524,4181,Maryland
4,Caroline County,26076,4589,94,25,0,0,0,170,2,...,0,29,0,0,0,0,0,1050,1281,Maryland

Reordering Columns

In [22]:
MD_Demo3 = MD_Demo2[["State", "County", "White", "Black", "American_Indian_Alaska_Native", "American_Indian_Alaska_Native_Cherokee", "American_Indian_Alaska_Native_Chippewa", "American_Indian_Alaska_Native_Navajo", "American_Indian_Alaska_Native_Sioux", "Asian", "Asian_Indian", "Asian_Chinese", "Asian_Filipino", "Asian_Japanese", "Asian_Korean", "Asian_Vietnamese", "Other_Asian", "Native_Hawaiian_Other_Pac_Islander", "Native_Hawaiian_Other_Pac_Islander_Native_Hawaiian", "Native_Hawaiian_Other_Pac_Islander_Chamorro", "Native_Hawaiian_Other_Pac_Islander_Samoan", "Other_Pacific_Islander", "Some_other_race", "Two_or_more_races"]]

In [23]:
MD_Demo3.head()

,State,County,White,Black,American_Indian_Alaska_Native,American_Indian_Alaska_Native_Cherokee,American_Indian_Alaska_Native_Chippewa,American_Indian_Alaska_Native_Navajo,American_Indian_Alaska_Native_Sioux,Asian,...,Asian_Korean,Asian_Vietnamese,Other_Asian,Native_Hawaiian_Other_Pac_Islander,Native_Hawaiian_Other_Pac_Islander_Native_Hawaiian,Native_Hawaiian_Other_Pac_Islander_Chamorro,Native_Hawaiian_Other_Pac_Islander_Samoan,Other_Pacific_Islander,Some_other_race,Two_or_more_races
0,Maryland,Allegany County,62420,5954,117,18,2,0,0,674,...,24,119,116,6,2,3,1,0,163,1668
1,Maryland,Anne Arundel County,408297,96112,1218,135,15,64,114,22098,...,3118,1510,2834,244,34,103,35,72,16945,30507
2,Maryland,Baltimore County,487523,243098,2111,436,0,0,20,50294,...,4855,1745,14654,754,171,178,167,238,14858,29555
3,Maryland,Calvert County,73985,11456,155,0,0,0,0,1747,...,112,96,285,46,0,8,38,0,524,4181
4,Maryland,Caroline County,26076,4589,94,25,0,0,0,170,...,73,0,29,0,0,0,0,0,1050,1281

Exporting Updated MD County Demographic Data

In [24]:
MD_Demo3.to_excel (r'/Users/nyahamlet/Documents/Business/Certs/VT Data Analytics Bootcamp/Capstone Project/Data/MD County Demographics/County_Demographics_2016-2020.v3.xlsx', index = False, header=True)

In [2]:
MD_data2 = pd.read_csv('/Users/nyahamlet/Documents/Business/Certs/VT Data Analytics Bootcamp/Capstone Project/Final/MD_Housing_Data.csv')

In [3]:
MD_data2.head()

,State,County,Year,Annual_Change,HPI,White,Black,American_Indian_Alaska_Native,American_Indian_Alaska_Native_Cherokee,American_Indian_Alaska_Native_Chippewa,...,Asian_Japanese,Asian_Korean,Asian_Vietnamese,Other_Asian,Native_Hawaiian_Other_Pac_Islander,Native_Hawaiian_Other_Pac_Islander_Native_Hawaiian,Native_Hawaiian_Other_Pac_Islander_Chamorro,Native_Hawaiian_Other_Pac_Islander_Samoan,Some_other_race,Two_or_more_races
0,Maryland,Allegany County,2015,0.72,234.89,62420,5954,117,18,2,...,3,24,119,116,6,2,3,1,163,1668
1,Maryland,Allegany County,2016,-0.29,234.22,62420,5954,117,18,2,...,3,24,119,116,6,2,3,1,163,1668
2,Maryland,Allegany County,2017,4.52,244.79,62420,5954,117,18,2,...,3,24,119,116,6,2,3,1,163,1668
3,Maryland,Allegany County,2018,-1.57,240.95,62420,5954,117,18,2,...,3,24,119,116,6,2,3,1,163,1668
4,Maryland,Allegany County,2019,4.14,250.92,62420,5954,117,18,2,...,3,24,119,116,6,2,3,1,163,1668

Changing Year to Date Format

In [5]:
import datetime

In [7]:
MD_data2['Year'] = pd.to_datetime(MD_data2['Year'], format= "%Y")

In [8]:
MD_data2.dtypes

State                                                         object
County                                                        object
Year                                                  datetime64[ns]
Annual_Change                                                float64
HPI                                                          float64
White                                                          int64
Black                                                          int64
American_Indian_Alaska_Native                                  int64
American_Indian_Alaska_Native_Cherokee                         int64
American_Indian_Alaska_Native_Chippewa                         int64
American_Indian_Alaska_Native_Navajo                           int64
American_Indian_Alaska_Native_Sioux                            int64
Asian                                                          int64
Asian_Indian                                                   int64
Asian_Chinese                                                  int64
Asian_Filipino                                                 int64
Asian_Japanese                                                 int64
Asian_Korean                                                   int64
Asian_Vietnamese                                               int64
Other_Asian                                                    int64
Native_Hawaiian_Other_Pac_Islander                             int64
Native_Hawaiian_Other_Pac_Islander_Native_Hawaiian             int64
Native_Hawaiian_Other_Pac_Islander_Chamorro                    int64
Native_Hawaiian_Other_Pac_Islander_Samoan                      int64
Some_other_race                                                int64
Two_or_more_races                                              int64
dtype: object

Export MD Housing Data (Final)

In [9]:
MD_data2.to_excel (r'/Users/nyahamlet/Documents/Business/Certs/VT Data Analytics Bootcamp/Capstone Project/MD_Housing_Data.xlsx', index = False, header=True)